<div class="container p-mt-5">
  <div class="p-grid p-mb-5">
    <div class="p-col-10 p-mx-auto">
      <p class="p-text-center">Some content here</p>
      <div class="p-mt-4 p-d-flex p-flex-md-row p-flex-column p-jc-center">
        <button pButton class="p-button p-mr-md-2 p-mb-0 p-mb-md-0 p-mb-2" type="button" label="Documentation"></button>
        <button pButton class="p-button-secondary" type="button" label="Add to Logo"></button>
      </div>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="p-grid p-text-center p-mt-3 p-mb-5">
    <div class="p-col-12 p-md-8 p-mx-auto">
      <h4>About</h4>
      <p>Logo is a multi-functional Discord bot. It moderates your server, mutes spammers, checks the weather, verifies new members, denies users using VPNs access to your server, and much more.</p>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="p-grid p-mt-3 p-mb-5">
    <div class="p-col-12 p-md-8 p-mx-auto">
      <h4 class="p-text-center">Features</h4>
      <p class="p-mb-2 p-ml-4">
        <i class="pi pi-check-circle"></i> <span class="p-text-bold"> Anti-Spam:</span>
        Auttaja removes unwanted spam and mutes the user who is posting it.
      </p>
      <p class="p-mb-2 p-ml-4">
        <i class="pi pi-check-circle"></i> <span class="p-text-bold"> Anti-Advertisement:</span>
        Auttaja will remove Discord invites from unauthorized users.
      </p>
      <p class="p-mb-2 p-ml-4">
        <i class="pi pi-check-circle"></i> <span class="p-text-bold"> Moderation:</span>
        Auttaja provides a plethora of different moderation commands
      </p>
      <p class="p-mb-2 p-ml-4">
        <i class="pi pi-check-circle"></i> <span class="p-text-bold"> Gatekeeping:</span>
        Auttaja prevents users that use a VPN from accessing your server
      </p>
    </div>
  </div>
</div>


