.vscode/
venv/

# Just a homemade script to start the bot on startup. Template is in startup.sh.
# Just put the script into Autostart or wherever software you want.
MichaelBot.sh

# Token
setup/bot1.json
setup/botbeta.json

# Database info
setup/michaeldb.json

# Spammy debug log
discord.log

# __pycaches__
__pycache__/
categories/__pycache__
categories/templates/__pycache__
categories/utilityfun/__pycache__

# Spammy Lavalink log
lib/Lavalink3.3/logs

# Deprecated files
categories/experiment.py
categories/utilityfun/
