.vscode/
venv/

setup/*
!setup/config.json

__pycache__/
categories/__pycache__/
utilities/__pycache__/
events/__pycache__/

categories/test.py

docs/site

lib/Lavalink/logs/

.pylintrc
MichaelBeta.sh
MichaelBot.sh
