.vscode/
venv/

# Just a homemade script to start the bot on startup. Template is in startup.sh.
# Just put the script into Autostart or wherever software you want.
MichaelBot.sh
MichaelBeta.sh

# Nothing to see here
note
.style.yapf
driver2.py

# Token
setup/bot_secret.json
setup/beta_secret.json

# Database info
setup/michaeldb.json

# Spammy debug log
discord.log

# __pycaches__
__pycache__/
categories/__pycache__
categories/templates/__pycache__
categories/utilityfun/__pycache__

# Spammy Lavalink log
lib/Lavalink3.3/logs

# Deprecated files
categories/utilityfun/

# Website files
docs/site/