<div class="mt-5">
  <p-card *ngIf="!(isLoggedIn | async) && !errorMessage">
    <div class="text-center p-3">
      <h5>Welcome, please login</h5>
      <button pButton class="p-button mr-md-2" type="button" label="Discord login"
              (click)="onLogin()" icon="pi pi-discord"></button>
    </div>
  </p-card>
  <div class="text-center" *ngIf="(isLoggedIn | async)">
    <p-message severity="success" text="Login success"></p-message>
  </div>
  <div class="text-center" *ngIf="errorMessage">
    <p-message severity="danger" text="{{errorMessage}}"></p-message>
  </div>
</div>

