<h6>Profile</h6>
<div>
  <p-card>
    <p class="mt-3">{{user.displayName}}</p>
    <p>{{user.email}}</p>
  </p-card>
</div>

<!--<h6>Guilds you join</h6>-->
<!--<div *ngFor="let guild of user.guilds" class="mt-4">-->
<!--  <p-card>-->
<!--    <p class="mt-3">{{this.guild.name}}</p>-->
<!--    <p>{{this.guild.icon}}</p>-->
<!--  </p-card>-->
<!--</div>-->

<div class="mb-4">
  <h6>Guilds you manage</h6>
  <div class="mt-4 mb-4" *ngIf="managedGuilds.length > 0">
    <div *ngFor="let managedGuild of managedGuilds">
      <p-card>
        <p>{{managedGuild.name}}</p>
        <p>{{managedGuild.icon}}</p>
      </p-card>
    </div>
  </div>
  <div *ngIf="managedGuilds.length < 1">
    <p-message severity="warn" text="no guilds found"></p-message>
  </div>
</div>



